@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(196, 28, 230);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-color);
    direction: rtl;

}

ul {
    list-style:none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 750px;
    }
}


@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 970px;
    }
}


@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* start header */
header {
    height: 60px;
    background-color: white;
    border: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container img {
    width: 100px;
    height: 50px;
}

.nav-tog:hover {
    color: var(--main-color);
}

.mobile-nav1 {
    display: flex !important ;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ccc;
    width: 100%;
    transition: 0.3s;
}


header .container nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:768px) {
    header .container nav {
        justify-content: end;
    }
}

header .container nav ul {
    display: flex;
}

@media (max-width:768px) {
    header .container nav ul {
        display: none;
    }
}

@media (min-width:768px) {
    .nav-tog{
        display: none;
    }
}


header .container nav ul li a {
    text-decoration: none;
    display: block;
    padding: 20px 10px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

@media (max-width:768px) {
    header .container nav ul li a {
        border-bottom: 1px solid #000000;
    }
}

header .container nav ul li a.active,
header .container nav ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: var(--main-color);
}

header .container .social {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 768px) {
    header .container .social {
        display: none;
    }
}

header .container .social i {
    margin: 5px;
    font-size: 17px;
    display: flex;
    width: 35px;
    height: 35px;
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

header .container .social i:hover {
    background-color: hsl(0, 0%, 0%);
    scale: 1.1;
}



/* end header */
/* start hero section */
.hero {
    background-image: url('../images/background.webp');
    /* height: calc(70vh - 60px); */
}

@media (max-width:768px) {
    .hero {
        /* height: calc(100vh - 60px); */
    }
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (max-width:768px) {
    .hero .containe {
        flex-direction: column-reverse;
    }
}


.hero .container .hero-img img {
    width: 500px;
}

@media (max-width:768px) {
    .hero .containe .hero-img img {
        width: 250px;
    }
}


.hero .container .hero-info.hero-title {
    color: var(--main-color);
    font-size: 45px;
    font-family: almarai;
    font-weight: 800;
}

.hero .container .hero-info h2 {
    color: #000000;
    width: 90%;
}

@media (max-width:768px) {
    .hero .container .hero-title {
        font-size: 35px;
        text-align: center;
    }

    .hero .container .hero-info h2 {
        font-size: 25px;
    }

    .hero .container.hero-info p {
        width: 100%;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
    }
}

.hero .container .social {
    display: flex;
}

.hero .container .social i {
    margin: 5px;
    font-size: 17px;
    display: flex;
    width: 35px;
    height: 35px;
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

@media (max-width:768px) {
    .hero .container .social {
        justify-content: center;
    }
}

.hero .container .hero-info .call {
    display: flex;
    justify-content: start;
    margin-top: 15px;

}

@media (max-width:768px) {
    .hero .container .hero-info .call {
        justify-content: center;
    }
}

.hero .container .call button {
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    transition: 0, 3;
}

.hero .container .call button:hover {
    cursor: pointer;
    background-color: black;
    scale: 1.1;

}

/* end hero section */
/* start services section*/
.services {
    background-color: #ccc;
    padding: 50px 0;
}

.section-title {
    text-align: center;
    font-size: 40px;
    color: var(--main-color);
    margin-bottom: 20px;
    font-family: almarai;
}

.section-desc {
    text-align: center;
    font-size: 25px;
    color: black;
    margin-bottom: 30px;

}

.services .all-services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.all-services .service {
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10 #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.all-services .service::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: 0.5s;
}

.all-services .service::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: 0.5s;
}

.all-services .service:hover::before {
    height: 100%;
}

.all-services .service:hover::after {
    height: 100%;
}


.all-services .service:hover {
    transform: translatey(-10px);

}


.all-services .service img {
    width: 70px;
    margin-bottom: 15px;

}

.all-services .service h3 {
    margin-bottom: 15px;
    color: var(--main-color);
}

.all-services .service p {
    line-height: 1.5;
}

.about-us {
    padding: 50px 0;
}

.about-us .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.about-info,
.about-img {
    width: 50%;
}

@media (max-width:768) {
    .about-us .container {
        flex-direction: column;
        text-align: center;
    }

    .about-info,
    .about-img {
        width: 100%;
    }
}

.about-us h2 {
    color: var(--main-color);
    margin-bottom: 20px;
}

.about-us p {
    font-size: 20px;
    line-height: 1.7;
    width: 90%;
    margin-bottom: 2px;
}


.about-us .about-call {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

@media (max-width:768) {
    .about-us .container {
        flex-direction: column;
        text-align: center;
    }

    .about-info,
    .about-img {
        width: 100%;
    }

    .about-us p {
        width: 100%;
    }

    .about-us .about-call {
        margin-bottom: 25px;
    }
}

.about-us .about-call:hover::before {
    width: 50%;
}

.about-us .about-call:hover::after {
    width: 50%;
}

.about-us .about-call::before {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    transition: 0.5s;
    z-index: -1;
}

.about-us .about-call::after {
    position: absolute;
    content: "";
    right: 0;
    width: 0;
    height: 100%;
    top: 0;
    background-color: black;
    transition: 0.5s;
    z-index: -1;
}

.about-us .about-img {
    background-color: var(--main-color);

}

@media (max-width:768px) {
    .about-us .about-img{
        display: none;
        
    }
}

.about-us .about-img img {
    transform: translate(-10px ,-10px);
    width: 100%;
}

@media (max-width:768px) {
    .about-us .about-img img {
        transform: translate(0,0)
        width: 80%;
        
    }
}

/* end services section*/
/* start statistcs section*/

.statistcs {
    padding: 70px 0;
    background-color: green;
    background-image: url(../images/stats.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.statistcs .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000049;
}

.statistcs .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.statistcs .container .stat {
    background-color: rgba(143, 139, 142, 0.507);
    text-align: center;
    padding: 20px 0;
    border: 5px;
    cursor: pointer;
    transition: 0.3;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.statistcs .container .stat:hover {
    scale: 1.05;
    background-color: rgb(250, 205, 242);
}

.statistcs .container .stat h3 {
    font-size: 35px;
    margin: 35px;

}

.statistcs .container .stat p {
    font-size: 20px;
    font-weight: 800;
}

/* end statistcs section*/
/* start courses section*/

.courses {
    padding: 70px 0;
    background-color: #ccc;
}

.courses .all-courses {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.courses .all-courses .course {
    background-color: rgb(255, 255, 255);
    padding-bottom: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
    position: relative;
    box-shadow: 0 0 10 #ccc;
    overflow: hidden;

}

.courses .all-courses .course:hover {
    scale: 1.15;

}

.courses .all-courses .course img {
    width: 100%;
}

.courses .all-courses .course .course-title {
    color: var(--main-color);
    margin-top: 10px;
    margin-bottom: 10px;

}

.courses .all-courses .course p {
    color: #6b6b6b;
    line-height: 1.7;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.course-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.course-price div :last-child {
    color: var(--main-color);
    font-weight: 700;
    text-decoration: line-through;
}

.course-price :last-child {
    font-size: 17px;
    font-weight: 700;
}

hr {
    width: 80%;
    transform: translateX(-10%);
    margin-bottom: 15px;
    border: none;
    height: 1px;
    background: #ccc;
}

.course-details {
    background-color: var(--main-color);
    border: none;
    color: white;
    border: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    width: 90%;

}

.course-details:hover {
    background-color: #e64aaa;
}

.category {
    position: absolute;
    top: 5px;
    left: 7px;
    background-color: var(--main-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-right: 15px;
}

.course-info i {
    margin-left: 10px;

}

.reviews i {
    color: gold;
    margin-right: 10px;
}

/* end courses section*/
/*start fortbolio section*/
.fortfolio {
    padding: 70px 0;
    background-color: #ccc;
}

.fortfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.box {
    text-align: center;
    overflow: hidden;
    border: 1px solid #ccc;
    position: relative;
    cursor: pointer;
}

.box img {
    max-width: 100%;
}

.portfolio-container .box .info {
    background-color: rgba(0, 0, 0, 0.329);
    padding: 15PX 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 270px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
}

.portfolio-container .box:hover .info {
    left: 0;
}

.portfolio-container .box .info h3 {
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
}

.projict-link {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
    margin: auto;
}

/*end fortbolio section*/

/*start team section*/
.our-team {
    background-color: rgb(212, 212, 212);
    padding: 70px 0;
}

.our-team .team-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;

}

.team-box {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 0 10px #ccc;
}

.team-box:hover {
    transform: translateY(-10px);
}

.team-box:hover img {
    filter: grayscale(100%);
}

.img-social {
    display: flex;
    justify-content: space-between;
}

.img-social .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
    padding-top: 10px;
}

.img-social .social i {
    margin: 4px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: var(--main-color);
    color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition: 0.4;

}

.img-social img {
    width: 80%;
    border-radius: 0 0 15px;

}

.team-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}

.team-info h3 {
    color: var(--main-color);
}

/*end team section*/

/*start skills section*/
.our-skills {
    padding: 70px 0;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.our-skills .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-info,
.skills-img {
    width: 45%;
}

@media (max-width:768px) {
    .our-skills .container {
        flex-direction: column-reverse;
    }

    .skills-info,
    .skills-img {
        width: 100%;
    }
}

.skills-img img {
    width: 100%;
    border-radius: 0px 90px 0px 90px;
    transition: 0.3;
}

.skills-img img:hover {
    filter: grayscale(100%);
}

.count {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

}

.count :last-child {
    border: 1px solid black;
    padding: 2px 3px;
    border-radius: 5px;
}

.progress .prog {
    width: 100%;
    height: 30px;
    background-color: #ccc;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress .prog span {
    position: absolute;
    height: 100%;
    background-color: var(--main-color);
    transition: 0s0.4s;
}

.progress .prog span:hover {
    width: 100% !important;
}

/*end skills section*/
/*start pricing section*/
.pricing-section {
    padding: 70px 0;
    background-color: #ccc;
}

.pricing-section .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.plan {
    background-color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.plan:hover {
    scale: 1.05;
}

.plan:nth-child(3):before,
.plan:nth-child(1):before {
    content: " سعر خاص";
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    text-align: center;
    width: 170%;
    height: 40px;
    transform: rotate(-45deg);
    background-color: rgb(0, 235, 0);
    top: 20px;
    left: -40;
    z-index: -1;
}

.plan .plan-title {
    font-size: 35px;
    color: var(--main-color);
    margin-top: 25px;
}

.plan .price p:first-child {
    color: var(--main-color);
    font-size: 35px;
    font-weight: bold;
}

.plan .price p:last-child {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;

}

.plan ul {
    text-align: right;
    padding: 15px;
}

.plan ul li {

    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    cursor: pointer;
    transition: 0.3;
    position: relative;
    padding-right: 20px;
}

.plan ul li::before {
    content: "\f0d9";
    font-family: "font awesome 5 free";
    font-weight: 800;
    /*
    width: 5px;
    height: 5px;*/
    top: 10px;
    right: -10px;
    color: var(--main-color);
    transform: translate(-50%);
    position: absolute;
}

.plan ul li:hover {
    background-color: var(--main-color);
}

.plan-btn {
    background-color: var(--main-color);
    width: 90%;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 5px;
    transition: 0.3s;
    cursor: pointer;
}

.plan-btn:hover {
    scale: 1.05;
}

/*end pricing section*/
/*start testimonials section*/
.testimonials {
    padding: 70px 0;

}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.testimonials .container .testimonial {
    background-color: #ccc;
    position: relative;
    padding: 20px;
    border-radius: 5px;
    transition: 0.3;
    cursor: pointer;
}

.testimonials .container .testimonial:hover {
    transform: translateY(-5px);
}

.testimonials .container .testimonial::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 5px;
    height: 0;
    background-color: var(--main-color);
    transition: 0.3s;
}

.testimonials .container .testimonial::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: var(--main-color);
    transition: 0.3s;
}

.testimonials .container .testimonial:hover::before {
    height: 50%;
}

.testimonials .container .testimonial:hover::after {
    width: 50%;
}

.testimonials .container .testimonial img {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 5px;
    top: -20px;
    border: 7px solid white;

}

.testimonials .container .testimonial h3 {
    color: var(--main-color);
    font-size: 30px;
    margin-bottom: 10px;
}

.testimonials .container .testimonial .title-testimonial {
    margin-bottom: 15px;
}

.testimonials .container .testimonial .stars .fill {
    color: gold;
}

.testimonial .review {
    font-size: 26px;
    line-height: 1.6;
    margin-top: 15px;
}

/*end testimonials section*/
/*start footer section*/



footer {
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: black;
    background-image: url(https://www.bing.com/images/search?view=detailV2&ccid=j5suVPhC&id=4531E2145CB17A7AFFD7C1BDEEEF89FDAD269505&thid=OIP.j5suVPhCYKo76ozQnhrrgwHaEo&mediaurl=https%3a%2f%2fpicturess.cc%2fwp-content%2fuploads%2f2021%2f02%2f4644.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.8f9b2e54f84260aa3bea8cd09e1aeb83%3frik%3dBZUmrf2J7%252b69wQ%26pid%3dImgRaw%26r%3d0&exph=800&expw=1280&q=%d8%b4%d8%a7%d8%b4%d9%87+%d8%ad%d9%85%d8%b1%d8%a7%d8%a1&simid=607989571287988595&FORM=IRPRST&ck=BA3408A5C426292B9F8472D005621326&selectedIndex=13&itb=0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--main-color);
}

footer .container {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    word-spacing: 5px;
}

footer .container .section h2 {
    color: white;
}

@media (max-width:768px) {
    footer .container .section {
        padding-right: 20px;
        margin-bottom: 20px;
    }
}

footer .container .section p {
    color: white;
    margin-top: 15px;
    line-height: 1.8;
}

footer .container .section a {
    color: white;
    display: grid;
    word-spacing: 5px;
    text-decoration: none;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-top: 15px;
    transition: 0, 3;
    position: relative;
}

footer .container .section a::after {
    content: "\f0d9";
    font-family: "font awesome 5 free";
    position: absolute;
    font-weight: 900;
    color: var(--main-color);
    top: 50%;
    font-size: 30px;
    right: -20px;
    transform: translateY(-50%);
}

footer .container .section a:hover {
    color: var(--main-color);
    padding-right: 10px;
    font-weight: bold;

}

.letter form {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.letter form input[type="text"],
.letter form input[type="email"] {
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    caret-color: var(--main-color);

}

.letter form input[type="text"]:focus,
.letter form input[type="email"]:focus {
    outline: none;
}

.letter form input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3;
}

.letter form input[type="submit"]:hover {
    background-color: #000000;
    border: 1px solid var(--main-color);
}

.hr-footer {
    width: 70%;
    margin-top: 35px;
    transform: translateX(-15%);
}

.copyright {
    text-align: center;
    color: white;

}

/*end footer section*/
.btn-watsapp {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #25D366;
    color: wheat;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3;
    box-shadow: 0 0 10px white;
}

.btn-watsapp:hover {
    scale: 1.1;
}